<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyer.server.mapper.CartMapper">
    <delete id="batchDelete">
        delete from cart where uid = #{uid}
        and gid in
        <foreach collection="gids" item="gid" open="(" separator="," close=")">
            #{gid}
        </foreach>
    </delete>
    <update id="batchUpdateNumber">
        <foreach collection="carts" item="item" index="index" open="" close="" separator=";">
            update cart
            <set>
                number = ${item.number}
            </set>
            where gid = ${item.gid} and uid = ${item.uid}
        </foreach>
    </update>
</mapper>